/////////////////////////////////////////////////
// Social
/////////////////////////////////////////////////




.social svg {
  max-width: 100px;
  fill: $dark1;
}

.social {
  margin: 2rem;
}

.social-link {
  margin: 1rem;
}
