/////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////

.header {
  flex: 1 1 80%;
  padding: 2rem;
  background: rgba(white, .5);
  color: #999;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
  align-items: center;

  .mobile & {
    justify-content: flex-start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.header-logo-a-wrap {
  cursor: pointer;
}

.header-logo-wrap {
  display: flex;
  align-items: center;

  .mobile & {
    flex-direction: column;
    align-items: center;
  }
}

.header-logo-a-wrap {
  color: $dark2;
}

.header-title {
  margin: 0;
  line-height: 0.9em;
  position: relative;
  top: -5px;

  .mobile & {
    margin-bottom: 1rem;
    color: $dark2;
  }
}

.header-menu {
  display: flex;
  margin: 1rem;

  .mobile & {
    flex-direction: column;
  }
}

.header-menu-list {
  display: flex;
  margin: 0;

  .mobile & {
    margin-bottom: 1rem;
  }

  a {
    flex: 1 1 auto;
    padding: 1rem 2rem;
    cursor: pointer;
    color: $dark2;

    &:hover {
      transition: all 0.5s ease;
      background: $hover;
    }
  }

  &.active a {
    color: $light1;
    background: $primary;
  }
}

.header .icon-class {
  max-height: 50px;
  max-width: 50px;
  margin-right: 1rem;

  svg {
    width: 100%;
  }

  &:hover svg {
    fill: $primary;
  }
}
