header {
  flex: 1 1 80%;
  padding: 2rem;
  background: rgba(white, .5);
  color: #999;
  text-align: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}


.logo-wrap {
  display: flex;
}


header .ma-menu {
  display: flex;
  margin: 1rem;
  li {
    display: flex;
  }
  .ma-class {
    a {
      padding: 1rem 2rem;
      margin-left: 1rem;
      cursor: pointer;
      &:hover {
      transition: all .5s ease;
        background: yellow;

      }
    }
    &.active a {
      background: green;
    }
  }
}


.mobile-menu-trigger {
  background: pink;
  padding: 2rem;
  display: none;
  // transform: translateX(-10px);
  position: absolute;
  top: 0;
  right: -4rem;
}

.mobile .mobile-menu-trigger  {
  display: block;
}
