/////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////

.header {
  flex: 1 1 80%;
  padding: 2rem;
  background: rgba(white, .5);
  color: #999;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
  align-items: center;

  .mobile & {
    justify-content: flex-start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}


.header .icon {
  max-height: 50px;
  max-width: 50px;
  margin-right: 1rem;
  .mobile & {
    margin: 0 0 1rem;;
  }
  svg {
    width: 100%;
  }

  &:hover svg {
    fill: $primary;
  }
}
