.view {
  position: relative;
  background: rgba(red, .2);
  max-width: 100vw;
  display: flex;
  overflow: hidden;
  margin: 2rem;
}

.view-item {
  margin: 2rem;
  min-width: calc(100% - 4rem);
}

.first {
  background: rgba(yellow, .2);
  transform: translateX(0%);
  animation-duration: 1s;
  animation-name: slideout;
  animation-fill-mode: forwards;
}

.last {
  background: rgba(yellow, .2);
  transform: translateX( calc(100% - 2rem) );
  animation-duration: 1s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

.solo {
    animation-name: none;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX( calc( -100% - 4rem));
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
