/////////////////////////////////////////////////
// Portfolio
/////////////////////////////////////////////////

.portfolio-thumbnails {

  display: flex;
  flex-wrap: wrap;
}


.portfolio-thumbnail {
  background: yellow;
  padding: 2rem;
  margin: .5rem;
  cursor: pointer;
  flex: 1 1 50px;
  &.active {
    background: #0f0;
  }
}





#portfolioWrap {
  color: #000;
  padding: 1rem;
  display: flex;
}

img {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}


h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}






/////////////////////////////////////////////////
// View
/////////////////////////////////////////////////

.view-item-portfolio {
  margin: 1rem;
  min-width: calc(100%);
  // background: rgba(#fff, .5);
  transition: all 1s ease;
}

.first-item {
  transform: translateX(0%);
  animation-duration: 1s;
  animation-name: slideoutItem;
  animation-fill-mode: forwards;
}

.last-item {
  transform: translateX( calc(100% - 0rem) );
  animation-duration: 1s;
  animation-name: slideinItem;
  animation-fill-mode: forwards;
}

.solo {
    animation-name: none;
}

/////////////////////////////////////////////////
// Keyframes
/////////////////////////////////////////////////

@keyframes slideinItem {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX( calc( -100% - 4rem));
    opacity: 1;
  }
}

@keyframes slideoutItem {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
  }
}
