/////////////////////////////////////////////////
// Portfolio
/////////////////////////////////////////////////

.portfolio-thumbnails {

  display: flex;
  flex-wrap: wrap;
}


.portfolio-thumbnail {
  background: yellow;
  min-height: 10rem;
  margin: 1rem;
  cursor: pointer;
  flex: 1 1 150px;
  &.active {
    background: #0f0;
  }
}





#portfolioWrap {
  min-height: 10rem;
  background: pink;
  color: #000;
  padding: 2rem;
  display: flex;
}

img {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}


h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
