:host {
    flex: 1 1 100%;
    padding: 2rem;
    background: white;
    color: #999;
    text-align: center;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}