/* Imports */

@import "../../shared/scss/variables";

/* SCSS */

:host {
    min-height: 100vh;
}

.work-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    small {
        opacity: .5;
    }
}

.work-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title" "text text . img";
    grid-gap: $padding-small;
    .work-title-bar {
        grid-area: title;
    }
    .work-text {
        grid-area: text;
        line-height: $line-height;
    }
    .work-image {
        grid-area: img;
        padding: $padding-large;
        background: $white;
    }
}
