/* Imports */

@import "../../shared/scss/variables";

/* SCSS */

.work-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    small {
        opacity: .5;
    }
}
