/////////////////////////////////////////////////
// Btns
/////////////////////////////////////////////////

.btn {
  padding: 1rem 2rem;
  background: $primary;
  display: flex;
  margin: 1rem 0;
  transition: all .6s ease;
}
