* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  justify-content: center;
}


body {
  background: yellow;
  color: rgba(#000, .6);
  font-family: sans-serif;
  max-width: 100%;
}

.site {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  min-height: 90vh;
  width: 100%;
  transition: all .6s ease;
}

.menu-open .site {
  filter: blur(5px);
  transition: all .6s ease;
}

section {
  background: rgba(0,0,0, .6);
  padding: 2rem;
  // max-width: 600px;
  flex: 1 1 auto;
  box-sizing: border-box;
  color: rgba(#fff, .5);
}


#wrap-site {
  max-width: 100%;
}


@media (max-width: 600px) {
  body header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  #wrap-site {
    max-width: 100%;
    display: flex;
    transform: translateX(-200px);
    transition: all .6s ease;
  }
}

.mobile.menu-open {
  #wrap-site {
    transition: all .6s ease;
    transform: translateX(0px);
  }
}
