/////////////////////////////////////////////////
// Typography
/////////////////////////////////////////////////

a {
  text-decoration: none;
}

html {
  font-family: 'Code-Pro';
}


h1 {
  font-family: 'Code-Pro-Light';
  font-size: 2rem;
  line-height: 1.2em;
}

h2 {
  font-family: 'Code-Pro-Light';
  font-size: 2rem;
  line-height: 1.2em;
}


h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
