/////////////////////////////////////////////////
// Vaiables
/////////////////////////////////////////////////

$primary: red;
$secondary: blue;

$light1: #fff;
$light2: #eee;

/////////////////////////////////////////////////
// Vaiables
/////////////////////////////////////////////////

$active: $primary;
$hover: #eee;
