<footer class="footer">
    <hr>
    <div class="footer-logo">
        <img src="./img/icons/lolipop.svg" alt="">
    </div>
    <div class="footer-blog">
        <h3>Web design & development chronicles</h3>
        <p>Everyday working with the web brings a new lesson & I'll be writing about some of the problems that I've come across, & what I've done to overcome them here.</p>
        <hr>
    </div>
    <div class="social-icons">
            {% include "./social-icons.html" %}
    </div>
    <div class="copyright">
        <hr>
        <small>&#169; Copyright GotPop 2016</small>
    </div>
</footer>