<aside id="sidebarContainer" class="sidebar">
  <a href="#" id="menuTrigger" class="menu-trigger"><span>Open menu</span></a>
  <nav class="side-menu">
     <a id="homeClick" class="side-menu__item not-link selected" href="/">Home</a>
     <a id="caseClick" class="side-menu__item not-link" href="/columbus">Columbus</a>
     <a id="hackettClick" class="side-menu__item not-link" href="/hackett">Hackett</a>
     <a id="offersClick" class="side-menu__item not-link" href="/offers">Offers</a>
  </nav>
</aside>