// Animations
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes logoStartUp {
    0% {
        fill-opacity: 0;
        fill: $dark2;
        stroke-dashoffset: 1000;
    }

    20% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }

    80% {
        stroke-opacity: 0;
    }

    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
        stroke-opacity: 0;
    }
}
