// Basic
$white: #ffffff;
$black: #000000;

// Light Colour Vars
$light1: rgb(236, 236, 236);
$light2: rgb(204, 202, 202);
$light3: rgb(179, 179, 179);
$light4: rgb(182, 182, 182);

// light Tints
$lighttint1: #eaecee;
$lighttint2: #c5cace;
$lighttint3: #9a9da0;
$lighttint4: #616e77;

// Dark Colour Vars
$dark1: rgb(102, 102, 102);
$dark2: rgb(63, 62, 62);
$dark3: rgb(39, 39, 39);
$dark4: rgb(53, 51, 51);

// Dark Tints
$darktint1: #9ca7af;
$darktint2: #5c6a75;
$darktint3: #373d42;
$darktint4: #23272b;
