// Global SCSS

* {
    box-sizing: border-box;
}

html {
    position: fixed;
    overflow: hidden;
    background: $site-background;
    
    @media screen and (min-width: $medium-up) {
        overflow-y: scroll;
        overflow-x: hidden;
        position: static;
    }
}

body {
    position: fixed;
    overflow: hidden;

    @media screen and (min-width: $medium-up) {
        min-height: 100vh;
        overflow-x: hidden;
        position: static;
    }
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}
