/* Layout */

@import 'variables';

/* Layout */

.ap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "worknav" "site";
}

.site {
    grid-area: site;
    grid-column: span 3;
    background: $site-background;
    display: flex;
    flex-direction: column;
    background: $site-background;
    justify-content: center;
align-items: center;
}

main {
    min-height: 100vh;
}

/* Styles SCSS */

.view-item {
    padding: $padding-tiny;
    margin: $margin-tiny;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto 1fr;
    // grid-gap: $padding-tiny;
    min-height: 100vh;
}

// @media screen and (min-width: $small-up) {
//     .view-item {
//         padding: $padding-large;
//         margin: $margin-large;
//     }
// }
