// Typography 

a {
    text-decoration: none;
}

html {
    font-family: $header7;
    font-size: 14px;

    @media (min-width: $small-up) {
        font-size: 2vw;
    }

    @media (min-width: $medium-up) {
        font-size: 1rem;
    }
}

body {
    color: $body-colour;
}

h1 {
    font-family: $header1;
    font-size: 3rem;
    line-height: $line-height;
}

h2 {
    font-family: $header7;
    line-height: $line-height;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-colour;
}

p {
    line-height: $line-height;
    font-family: $header2;
}

li {
    line-height: $line-height;
}
