// Basic
$white: #ffffff;
$black: #000000;

// Light Colour Vars
$light1: rgb(236, 236, 236);
$light2: rgb(204, 202, 202);
$light3: rgb(179, 179, 179);
$light4: rgb(182, 182, 182);

// light Tints
$lighttint1: #eaecee;
$lighttint2: #c5cace;
$lighttint3: #9a9da0;
$lighttint4: #616e77;

// Dark Colour Vars
$dark1: rgb(102, 102, 102);
$dark2: rgb(63, 62, 62);
$dark3: rgb(39, 39, 39);
$dark4: rgb(53, 51, 51);

// Dark Tints
$darktint1: #9ca7af;
$darktint2: #5c6a75;
$darktint3: #373d42;
$darktint4: #23272b;

// Applied Vars main
$primary: rgb(216, 30, 30);
$secondary: #303a3f;

// Applied Vars
$background-dark: #c9d2d8;
$background-light: $lighttint1;

// Layout colours applied
$site-background: $background-light;
$header-background: $background-dark;
$panel-background: $background-light;
$footer-background: $background-dark;

// Shadows
$shadow: 5px 5px 5px rgba($dark4, 0.5);
$shadow-inset: 0px 5px 20px inset rgba($black, 0.1);

// Border radius
$radius: 2px;

// Links
$active: $primary;
$hover: $background-light;

// Padding
$padding-tiny: 0.5rem;
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 3rem;

// Margin
$margin-tiny: 0.5rem;
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem;

// Hightlights
$highlight: #5a656e;

// Typography colour
$body-colour: $dark1;
$header-colour: $dark3;

// Media Queries
$small-up: 500px;
$medium-up: 900px;
$large-up: 1200px;
$huge-up: 1600px;

// Font file path
$fontPath: "../fonts/";
$fontPath1: "#{$fontPath}codepro";
$fontPath2: "#{$fontPath}leitura";
$fontPath3: "#{$fontPath}avenir";

// Body text
$body-regular: "LeituraNews-Roman2";
$body-italic: "LeituraNews-Italic2";

// Headers
$header-light: "Avenir LT Std 35 Light";
$header-medium: "Avenir LT Std 65 Medium";

// Type
$line-height: 2em;

$font1: 1rem;
$font2: 2rem;
$font3: 3rem;
