// Applied Vars main
$primary: #d81e1e;
$secondary: #303a3f;

// Applied Vars
$background-dark: #c9d2d8;
$background-light: $lighttint1;

// Layout colours applied
$site-background: $background-light;
$header-background: $background-dark;
$panel-background: $background-light;
$footer-background: $background-dark;

// Shadows
$shadow: 5px 5px 5px rgba($dark4, 0.5);
$shadow-inset: 0px 5px 20px inset rgba($black, 0.1);

// Border radius
$radius: 2px;

// Links
$active: $primary;
$hover: $background-light;

// Sizing
$tiny: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;

// Media Queries
$small-up: 500px;
$medium-up: 900px;
$large-up: 1200px;
$huge-up: 1600px;

// Hightlights
$highlight: #5a656e;

// Typography colour
$body-colour: $dark1;
$header-colour: $dark3;

// Font file path
$fontPath: "../fonts/";
$fontPath1: "#{$fontPath}codepro";
$fontPath2: "#{$fontPath}leitura";
$fontPath3: "#{$fontPath}avenir";

// Body text
$body-regular: "LeituraNews-Roman2";
$body-italic: "LeituraNews-Italic2";

// Headers
$header-light: "Avenir LT Std 35 Light";
$header-medium: "Avenir LT Std 65 Medium";

// Type
$line-height: 2em;

$font1: 1rem;
$font2: 2rem;
$font3: 3rem;
