/* Imports */
@import "../../scss/variables";

/* Button SCSS */
.btn {
    padding: 1rem 2rem;
    background: $primary;
    display: flex;
    align-items: center;
    margin: 2rem 0 0 0;
    transition: all .6s ease;
    color: $light1;
    max-width: 300px;
    border-radius: $radius;
    font-size: 1.2rem;
    justify-content: space-between;
    &:hover {
        background: lighten($primary, 5%);
    }
}

.btn .icon {
    margin-left: $padding-small;
    width: 50px;
    height: 50px;
    display: flex;
    svg {
        width: 50px;
        height: auto;
        fill: $light1;
    }
}
