// Imports
@import "../../assets/scss/_variables.scss";

// Menu
.he-menu {
    align-items: center;
    display: none;
    grid-auto-flow: row;
    grid-auto-rows: minmax(auto, 100%);
    grid-column: 1 / 7;
    grid-gap: $tiny;
    grid-template-columns: repeat(3, 1fr);
    z-index: 99999;

    &--active {
        display: grid;
    }

    @media screen and (min-width: $medium-up) {
        display: grid;
        grid-column: 4 / 13;
        grid-gap: $small;
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $large-up) {
        grid-column: 8 / 17;
    }
}

.he-menu__item {
    align-items: center;
    background: $hover;
    border-radius: $radius;
    color: $dark3;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    font-family: $header-medium;
    font-size: 1rem;
    justify-content: space-around;
    margin: 0;

    &:hover {
        transition: all 0.5s ease;
        background: $hover;
    }

    &--active {
        color: $light1;
        background: darken($primary, 5%);

        &:hover {
            background: lighten($primary, 5%);
        }

        path {
            fill: currentColor;
            stroke: currentColor;
        }
    }
}

.he-menu__icon {
    display: flex;
    height: 30px;
    min-width: 1rem;
    margin: 0.4rem 0;

    svg {
        height: auto;
        max-width: 1.5em;
        width: 100%;
    }

    @media screen and (min-width: $medium-up) {
        margin: $small;
    }
}
