/* Imports */

@import "../../../shared/scss/variables";

/* SCSS */

:host {
    grid-area: title;
    cursor: pointer;
    padding: $padding-small;
    color: $body-colour;
    display: flex;
    align-content: center;
}

.header-logo-wrap {
    display: flex;
    align-items: center;
    svg {
        fill: lighten($body-colour, 15%);
    }
    &:hover svg {
        fill: $primary;
    }
}

.header-title {
    margin: 0;
    line-height: 0.9em;
    position: relative;
    top: -11px;
}

.header-logo-wrap .icon {
    max-height: 50px;
    max-width: 50px;
    margin-right: 1rem;
    height: 50px;
    svg {
        width: 100%;
    }
}
