/* Imports */

@import "../../../shared/scss/variables";

/* SCSS */

:host {
    grid-area: title;
    cursor: pointer;
    padding: $padding-small;
    color: $body-colour;
    display: flex;
    align-content: center;
}

.header-title {
    margin: 0;
    position: relative;
    font-family: 'Code-Pro-Bold-LC';
    color: lighten($body-colour, 30%);
    font-size: 3rem;
}

.header-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    .icon {
        display: none;
        z-index: -2;
        transform: rotate(45deg);
        max-height: 100px;
        max-width: 100px;
        height: 50px;
        svg {
            width: 100%;
            fill: lighten($body-colour, 30%);
        }
    }
    &:hover svg {
        fill: $primary;
    }
}

@media screen and (min-width: $large-up) {
    .header-logo-wrap {
        padding-left: 4rem;
        justify-content: flex-start;
    }
}
