/* Imports */

@import "../../../shared/scss/variables";

/* SCSS */

:host {
    grid-area: title;
    cursor: pointer;
    padding: $padding-small;
    color: $dark2;
    display: flex;
    align-content: center;
    transition: all .4s ease;
    border-bottom: 1px solid rgba(black, 0);
    &:hover {
        border-bottom: 1px solid rgba(black, .15);
        transition: all .4s ease;
    }
}

.header-logo-wrap {
    display: flex;
    align-items: center;
    svg {
        fill: $dark1;
    }
}

.header-logo-a-wrap {
    color: $dark2;
}

.header-title {
    margin: 0;
    line-height: 0.9em;
    position: relative;
    top: -8px;
}

.header-logo-wrap .icon {
    max-height: 50px;
    max-width: 50px;
    margin-right: 1rem;
    height: 50px;
    svg {
        width: 100%;
    }
    &:hover svg {
        fill: $primary;
    }
}
