// Import
@import "../../assets/scss/variables";

// layout
.logo__wrap {
    float: right;
    max-height: 3em;
    margin: 0em 0em 2em 2em;
    shape-outside: circle(40%);
}
.logo__icon {
    max-width: 50px;
    height: auto;
    transition: all 0.4s ease;
    width: 100%;

    &--cssgrid {
        fill: purple;
    }

    &--redux {
        background: #3d3d3d;
    }
}

.logo__icon--aetna,
.logo__icon--columbus {
    max-width: 100px;
}
