// Import
@import "../../assets/scss/variables";

// layout
.logo__wrap {
    float: right;
    shape-outside: circle();
    // width: 50px;
    // height: 50px;
    // clip-path: circle();
    shape-margin: 2rem;
}
.logo__icon {
    max-width: 50px;
    height: auto;
    transition: all 0.4s ease;
    width: 100%;

    &--cssgrid {
        fill: purple;
    }

    &--redux {
        background: #3d3d3d;
    }
}

.logo__icon--aetna,
.logo__icon--columbus {
    max-width: 100px;
}
