{% include "./partials/head.html" %}
<body id="index" class="index">
    <div id="baseline" class="body-inner typeset">
        <div id="wrapSite" class="wrap-site">
            {% include "./partials/nav.html" %}
            <div id="view" class="contain-page">
				{% block body %}


				{% endblock %}
            </div>
            <!-- <small><a id="toggle-grid" class="toggle-grid js-toggle-grid" href="0">Toggle grid</a></small> -->
        </div>
    </div>
    {% include "./partials/scripts-footer.html" %}
</body>
</html>