/* Imports */


/* autoprefixer: off */

@import "../../../shared/scss/index";

/* SCSS */

.social svg {
    max-width: 100px;
    fill: $secondary;
}

.social-link {
    margin: $margin-tiny;
}

.social {
    margin: $margin-medium;
}
