/* Global SCSS */

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background: $light2;
}

img {
    margin-top: 2rem;
    max-width: 720px;
    height: auto;
}
