/* Layout */

@import 'variables';

/* Layout */

app-root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "site";
}

app-site {
    grid-area: site;
    grid-column: span 3;
    background: $site-background;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
