// Imports
@import "../../assets/scss/variables";

/* Home SCSS */
.ma--clients {
    grid-template-columns: 6rem 1fr 6rem;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:    ". spaceclients ."
                            ". clients .";
    display: grid;
}

.clients {
    grid-area: clients;
    
    &:before {
        grid-area: spaceclients;
    }
}

// SCS
.clients__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $padding-medium;
    color: $body-colour;
    border-radius: $radius;
    li {
        font-size: 1rem;
        padding: $padding-small $padding-medium;
        background: #fff;
    }
}

@media screen and (min-width: $medium-up) {
    .clients__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: $large-up) {
    .clients__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
