// Imports
@import "../../assets/scss/variables";

// Client SCSS
.ma--clients {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    grid-template-areas:
        ". . ."
        ". clients ."
        ". . .";
    display: grid;

    @media screen and (min-width: $large-up) {
        grid-template-columns: 6rem 1fr 6rem;
    }
}

.clients__wrap {
    grid-area: clients;
}

.clients__intro {
    margin-bottom: 3rem;
}

.client {
    animation: fadeInUp 400ms ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

$delay-list: 0s .2s .4s .6s .8s 1s;

@each $current-delay in $delay-list {
    $i: index($delay-list, $current-delay);
    .client:nth-child(#{$i}) {
        animation-delay: $current-delay;
    }
}

// SCSS
.clients__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $padding-medium;
    color: $body-colour;
    border-radius: $radius;

    article {
        font-size: 1rem;
        padding: $padding-medium;
        background: rgba($white, 0.5);
        border-radius: $radius;
    }

    @media screen and (min-width: $medium-up) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $large-up) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
