/////////////////////////////////////////////////
// Menu
/////////////////////////////////////////////////

.header-menu {
  display: flex;
  margin: 1rem;

  .mobile & {
    flex-direction: column;
  }
}

.header-menu-list {
  display: flex;
  margin: 0;

  .mobile & {
    margin-bottom: 1rem;
  }

  a {
    flex: 1 1 auto;
    padding: 1rem 2rem;
    cursor: pointer;
    color: $dark2;

    &:hover {
      transition: all 0.5s ease;
      background: $hover;
    }
  }

  &.active a {
    color: $light1;
    background: $primary;
  }
}
