// Imports
@import "../../assets/scss/variables";

// SCSS
.he-logo__wrap {
    align-items: center;
    color: $body-colour;
    cursor: pointer;
    display: flex;
    grid-area: title;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: $large-up) {
        justify-content: flex-start;
    }

    svg {
        width: 100%;
        fill: $dark2;
        max-width: 180px;
        transition: fill 0.4s ease;
    }

    &:hover svg {
        // fill: $primary;
    }
}

.he-logo__link {
    padding-top: 8px;

    &--active svg {
        // fill: $primary;
    }
}

.logo-path {
    // stroke-dasharray: 100;
    // animation: dash 5s linear;
    // stroke-width: .2px;
    // stroke-opacity: .5;
    // stroke-linecap: round;
    // stroke-linejoin: round;
    // stroke-miterlimit: initial;
    // stroke: black;
    fill: transparent;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s linear forwards;
    animation-delay: 3s;
  }

  @keyframes dash {
    from {
        stroke-dashoffset: 1000;
    //   fill: red;
    }
    to {
        stroke-dashoffset: 0;
    //   fill: red;
    }
  }
