// Imports
@import "../../assets/scss/variables";

// Logo
.he-logo__wrap {
    align-items: center;
    color: $body-colour;
    cursor: pointer;
    display: flex;
    grid-area: title;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: $large-up) {
        justify-content: flex-start;
    }

    &:hover svg {
        fill: $primary;
    }
}

.he-logo {
    width: 100%;
    max-width: 180px;

    &__link {
        padding-top: 8px;
    }

    &__path {
        animation-delay: 0.5s;
        animation: logoStartUp 6s linear forwards;
        fill-opacity: 0;
        fill: $dark2;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke-width: 0.2px;
    }
}

@keyframes logoStartUp {
    0% {
        stroke-dashoffset: 1000;
        fill-opacity: 0;
        fill: $dark2;
    }

    20% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }

    80% {
        stroke-opacity: 0;
    }

    100% {
        stroke-opacity: 0;
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}
