// Imports
@import "../../assets/scss/variables";

// SCSS
.he-logo__wrap {
    align-items: center;
    color: $body-colour;
    cursor: pointer;
    display: flex;
    grid-area: title;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: $large-up) {
        justify-content: flex-start;
    }

    svg {
        width: 100%;
        fill: $dark2;
        max-width: 180px;;
        transition: fill .4s ease;
    }

    &:hover svg {
        fill: $primary;
    }
}

.he-logo__link {
    padding-top: 8px;

    &--active svg {
        fill: $primary;
    }
}
