/* Imports */
@import "../../assets/scss/variables";

/* SCSS */
:host {
    display: flex;
    flex-direction: column;
}

.skills-title-bar {
    margin-bottom: 2em;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $padding-medium;
    color: $body-colour;
    border-radius: $radius;
    li {
        font-size: 1rem;
        padding: $padding-small $padding-medium;
        background: #fff;
    }
}

@media screen and (min-width: $medium-up) {
    .skills-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: $large-up) {
    .skills-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
