// Imports
@import "../../assets/scss/variables";

// Home SCSS
.ma--skills {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    grid-template-areas:
        ". . ."
        ". skills ."
        ". . .";
    display: grid;

    @media screen and (min-width: $large-up) {
        grid-template-columns: 6rem 1fr 6rem;
    }
}

.skills {
    grid-area: skills;
    animation: fadeInUp 400ms ease-in-out;

    h2 {
        margin-bottom: 1em;
    }
}

// SCS
.skills__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $padding-medium;
    color: $body-colour;

    li {
        border-radius: $radius;
        font-size: 1rem;
        padding: $padding-small;
        background: #fff;
    }

    @media screen and (min-width: $medium-up) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $large-up) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
