// Imports
@import "../../assets/scss/variables";

// Client SCSS
.ma--skills {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 5rem 10fr 2fr;
    grid-template-areas:
        ". . ."
        ". skills ."
        ". . .";
    display: grid;

    @media screen and (min-width: $large-up) {
        grid-template-columns: 6rem 1fr 6rem;
    }
}

.skills__wrap {
    grid-area: skills;
}

.skills__intro {
    margin-bottom: 3rem;


}

.skills__text {
    max-width: 600px;
}

// SCSS
.skills__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $padding-medium;
    color: $body-colour;
    border-radius: $radius;

    @media screen and (min-width: $medium-up) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $large-up) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
