@import "../../assets/scss/variables";

// Client SCSS
.skills__intro {
    grid-column: 1 / 7;
    grid-row: 2 / 2;
    padding: $small 0;
    
    @media screen and (min-width: $medium-up) {
        grid-column: 2 / 12;
    }
}

.skills__grid {
    grid-column: 1 / 12;
    grid-row: 3 / 3;
    animation: fadeInUp 400ms ease-in-out;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: $small;

    @media screen and (min-width: $medium-up) {
        grid-column: 2 / 12;
        grid-template-columns: repeat(10, 1fr);
    }

    @media screen and (min-width: $large-up) {
        grid-column: 2 / 16;
        grid-template-columns: repeat(14, 1fr);
    }
}
