/* Site SCSS */

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    background: $light2;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    margin-top: 2rem;
    max-width: 720px;
    height: auto;
}

.site {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    min-width: 100%;
}

.menu-open .site {
    filter: blur(2px);
    transition: all .6s ease;
    transition-delay: .6s;
}

.wrap-site {
    max-width: 100%;
    flex: 1 1 auto;
    .mobile & {
        max-width: 100%;
        display: flex;
        transform: translateX(-200px);
        transition: all .5s ease;
    }
    .mobile.menu-open & {
        transform: translateX(0px);
    }
}