/* Variables */

$primary: red;
$secondary: blue;

/* Variables */

$light1: #fff;
$light2: #eee;
$dark1: #999;
$dark2: #3d3d3d;

/* Variables */

$active: $primary;
$hover: $dark1;

/* Font file path */

$fontPath: "/assets/fonts/codepro";
