/* Imports */
@import "../../assets/scss/variables";

/* SCSS */

.social svg {
    max-width: 100px;
    fill: $secondary;
}

.social-link {
    margin: $margin-tiny;
}

.social {
    margin: $margin-medium;
}
