<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="prefetch" href="./columbus.jpg">
    <link rel="prefetch" href="./hackett.jpg">
    <link rel="prefetch" href="./offers.jpg">
  </head>
  <body></body>
</html>
