header {
  flex: 1 1 80%;
  padding: 2rem;
  background: white;
  color: #999;
  text-align: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}


header .ma-menu {
  display: flex;
  margin: 1rem;
  .ma-class a {
    padding: 1rem 2rem;
    margin-left: 1rem;
    &:hover {
    transition: all .5s ease;
      background: yellow;

    }
  }
}
