.view {
  position: relative;
  width: 100%;
}


.view::before {
  content: "";
  display: table;
  clear: both;
}


.view-item {
  position: absolute;
  top: 0;
  left: 0;

}

.first {
  position: absolute;
  background: rgba(yellow, .2);
  transform: translateX(0%);
  animation-duration: 1s;
  animation-name: slideout;
  animation-fill-mode: forwards;
}

.last {
  position: absolute;
  background: rgba(yellow, .2);
  transform: translateX(100%);
  animation-duration: 1s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

.solo {
    transform: translateX(0%);
    animation-name: none;
}



@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}


@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
