/* Imports */

@import "../../../shared/scss/variables";

/* SCSS */

.portfolio-thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $padding-medium;
}

.portfolio-thumbnail {
    background: $white;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease;
    &.active {
        color: $primary;
    }
}
