/* Imports */

@import "../../../shared/scss/variables";

/* SCSS */

.work-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $padding-medium;
}

.work-button {
    background: $white;
    padding: $padding-medium $padding-medium;
    margin-bottom: $margin-large;
    border-radius: $radius;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease;
    &.active {
        color: $primary;
    }
}
