<div id="site" class="site">
  <div id="wrap-view" class="wrap-view">
    <div id="view" class="view">
      <section class="view-item">
        <div class="portfolio-thumbnails">
          <div class="portfolio-thumbnail" data-id="columbus">Columbus</div>
          <div class="portfolio-thumbnail active" data-id="hackett">Hackett</div>
          <div class="portfolio-thumbnail" data-id="offers">Offers</div>
        </div>
        <div id="portfolioWrap" class="portfolio-wrap">
          <section id="first-item" class="view-item-portfolio first-item solo">
            <h2>Hackett</h2>
            <p>Hackett is an iconic British menswear company. We were briefed with creating an in store loyalty application
              that tracks user purchases and preferences. The app is used by staff on both iPads and iPhones.</p>
            <img src="/assets/media/img/hackett.jpg" alt="Hackett" width="1001" height="569">
          </section>
        </div>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>
