/* Footer SCSS */

@import "../../shared/scss/variables";

/* Style */

:host {
    grid-area: footer;
    background: $darktint2;
    padding: $padding-large;
    box-shadow: $shadow3;
    display: grid;
    justify-items: center;
}

.social-link {
    margin: $margin-tiny;
    text-decoration: none;
    svg {
        fill: $darktint4;
    }
}

small {
    color: $darktint3;
}
