/* Imports */

@import "./shared/scss/global/variables";

/* App SCSS */

:host {
    width: 100%;
}


/* Keyframes */

@keyframes slidein {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX( 0%);
        opacity: 1;
    }
}
