// Import
@import "../../assets/scss/variables";

// Home SCSS 
.ma--home {
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 5fr 2fr;
    grid-template-areas:    ". . ."
                            ". intro ."
                            ". . .";
    display: grid;
}

@media screen and (min-width: $medium-up) {
    .ma--home {
        grid-template-columns: 6rem 3fr 6fr;
    }
}

.intro {
    grid-area: intro;
    
    h2 {
        font-family: $header2;
    }
}
