// Import
@import "../../assets/scss/variables";

// Home SCSS 
.ma--home {
    grid-template-columns: 6rem 3fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:    ". space ."
                            ". intro .";
    display: grid;
}

.intro {
    grid-area: intro;
    
    &:before {
        grid-area: space;
    }

    h2 {
        font-family: $header2;
    }
}
