// Import
@import "../../assets/scss/variables";

// Header
.he {
    background: $header-background;
    box-shadow: $shadow-inset;
    color: #999;
    display: grid;
    grid-area: header;
    grid-gap: 0;
    grid-template-areas: "title" "menu";
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: $padding-tiny;
    top: 0;
    z-index: 99;
}

@media screen and (min-width: $medium-up) {
    .he {
        display: grid;
        grid-area: header;
        grid-gap: 0;
        grid-template-areas: "title title menu menu";
        grid-template-columns: 6rem 1fr 1fr 3fr;
        justify-content: end;
        max-width: calc(100vw - 17px);
        padding: $padding-tiny;
    }
}

@media screen and (min-width: $large-up) {
     .he {
        display: grid;
        grid-area: header;
        grid-gap: 0;
        grid-template-areas: ". title menu menu";
        grid-template-columns: 6rem 3fr 1fr 3fr;
        justify-content: end;
        padding: 0;
    }
}
