// Import
@import "../../assets/scss/variables";

// Header
.he {
    background: $header-background;
    box-shadow: $shadow-inset;
    display: grid;
    grid-area: header;
    grid-gap: 0;
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
    padding: $tiny;
    z-index: 99;
    
    @media screen and (min-width: $medium-up) {
        padding: $small;
        grid-gap: $small;
        grid-template-columns: repeat(12, 1fr);
    }
    
    @media screen and (min-width: $large-up) {
        grid-template-columns: repeat(16, 1fr);
        max-width: calc(100vw - 17px);
    }
}
