// Imports
@import "../../assets/scss/_variables.scss";

// SCSS
.menu-trigger {
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    background: transparent;

    
    &__text {
        display: none;
    }
    
    &__wrap {
        grid-column: 6 / 6;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $medium-up) {
            display: none;
        }
    }
}

// Burger
.menu-trigger {
    &__burger,
    &__burger:after,
    &__burger:before {
        cursor: pointer;
        border-radius: 0.5rem;
        height: 0.3rem;
        width: 2rem;
        background: rgba($dark1, 1);
        position: absolute;
        top: 1.4rem;
        display: block;
        content: "";
        transition: all 100ms ease-in-out;
    }

    &__burger {
        right: 0.5rem;

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }
}

.menu-trigger__burger--active {
    background-color: transparent;

    &::after,
    &::before {
        top: 0;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
