// Import
@import "../../assets/scss/variables";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Gallery
.ma .glide__track {
  overflow: visible;
}

.glide {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.glide__slide {
  display: flex;
  flex-direction: column;

  article {
    flex: 1 1 40%;
    margin-right: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  p {
    color: rgba(black, .7);
  }
}

.glide__figure {
  flex: 1 1 60%;
  margin: 1rem 3rem 0 0;

}

@media screen and (min-width: $medium-up) {
  .glide__slide {
    flex-direction: row;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.glide__slide {
  animation: fadeInDown 500ms ease-in-out;
}
