/////////////////////////////////////////////////
// View
/////////////////////////////////////////////////

.skills-list {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-size: 2rem;
  margin-top: 2rem;
  li {
    padding: 1rem;
    background: $light1;
    flex: 1 1 40%;
    margin: .5rem;
    &:hover {
      background: $light2;
      transition: all .5s ease;
    }
  }
}
