/////////////////////////////////////////////////
// Skills
/////////////////////////////////////////////////

.skills-intro {
  margin: .5rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  color: $dark1;
  margin-top: 2rem;
  li {
    font-size: 1rem;
    padding: 1em;
    background: $light1;
    flex: 1 1 40%;
    margin: .5rem;
    &:hover {
      background: $light2;
      transition: all .5s ease;
    }
  }
}
