// Forms 
button {
  background: var(--light1);
  padding: 1rem 3rem;
  border: none;
}

.form__fieldset {
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: 1px dotted rgba(black, 0);
  border-bottom: 1px dotted rgba(black, .7);
}

.form__legend {
  margin-bottom: 1.5em;
  padding: 0;
  display: block;
  width: 100%;
  float: left;
  font-weight: bold;
}

// Fields
.field__label {
  display: inline-flex;
  margin-bottom: 1em;
  cursor: pointer;
}

.field__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.field__input {
  margin-bottom: 1em;
  display: inline-flex;
  border-radius: 2px;
  padding: 1rem;
  flex: 1;
  border: 1px solid rgba(black, .2);

  &.is-invalid:invalid {
    border-bottom: 1px solid var(--warning);
  }

  &:valid {
    border-bottom: 1px solid var(--success);
  }
}

.field__validation {
  display: none;
  color: var(--warning);
  
  .field__input.is-invalid:invalid ~ & {
    display: flex;
  }
}

.field__svg {
  max-width: 10px;
  max-height: 10px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.action-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.btn {
  background: var(--light1);
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.btn--primary {
  background: var(--primary);
  color: var(--light1);
  margin-left: 1rem;
}