// Header

 .he {
    grid-area: header;
    display: flex;
    color: var(--dark4);
  }
  
  .he-logo {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    display: flex;
    align-items: stretch;
    margin-left: 1rem;
    
    &:hover {
      background: var(--light1);
    }
  }
  
  .he-logo__link {
    display: flex;
    flex: 1;
    align-items: center;
    text-decoration: none;
    color: var(--dark1);
  }
  
  .he-logo__title {
    font-weight: bold;
    white-space: nowrap;
    margin: 0 .5rem;
  }

  .he-nav__svg {
    color: var(--primary);
    max-height: 70px;
  }
  
  .he-logo__image {
    max-width: 6rem;
  }
  
  .he-nav {
    flex: 2 2 auto;
    display: flex;
    align-items: center;
  }

  .he-nav__bar {
    flex: 1;
    justify-content: center;
    display: flex;
  }
  
  .he-nav__item {
    padding: 1rem;
    margin: 1rem .5rem;
    cursor: pointer;
    color: var(--light2);
    border-radius: var(--radius);
    text-decoration: none;
    
    &:hover,
    &.active {
      transition: all .4s ease;
      color: var(--light1);
      background: var(--dark1);
    }
    &.active {
      border-bottom: 2px solid var(--primary);
    }
  }
  
  .he-nav__image-wrap {
    flex: 0 0 54px;
    margin: 0 0 0 auto;
    padding: 1rem;
    cursor: pointer;
    background: var(--dark3);
    color: var(--light1);
    justify-content: flex-end;
    display: flex;
    margin: 1rem 0;
  }
  
  .he-nav__image {
    max-width: 50px;
    height: auto;
  }

  .he-nav__link-ext {
    color: var(--light2);
  }