// Vars

:root {
    --white: white;
    --light1: rgb(231, 230, 230);
    --light2: rgb(192, 192, 192);
    --light3: rgb(187, 187, 187);
    --light4: rgb(202, 202, 202);
    --dark1: darkgrey;
    --dark2: rgb(54, 54, 54);
    --dark3: rgb(29, 29, 29);
    --dark4: rgb(31, 31, 31);
    --slate: LightSlateGray;
    --primary: teal;
    --warning: brown;
    --success: green;
    --radius: 2px;
}