// Footer SCSS
@import "../../assets/scss/variables";

// Adjust padding to account for scrollbar width
// As scrollbar is forced

.fo {
    grid-area: footer;
    background: $footer-background;
    padding: $padding-large calc(#{$padding-large} + 17px) $padding-large
        $padding-large;
    box-shadow: $shadow-inset;
    display: grid;
    justify-items: center;
    flex: 1;
}

.social-link {
    margin: $tiny;
    text-decoration: none;
}

small {
    color: $secondary;
}
