// Imports
@import "../../assets/scss/variables";

// SCSS
.he-logo__wrap {
    grid-area: title;
    cursor: pointer;
    color: $body-colour;
    display: flex;
    align-content: centre;
}

.he-logo__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    svg {
        width: 100%;
        fill: lighten($body-colour, 30%);
        max-width: 240px;;
    }

    &:hover svg {
        fill: $primary;
        transition: fill .4s ease;
    }
}

.he-logo__link {
    padding-top: 8px;
}

@media screen and (min-width: $large-up) {
    .he-logo__link {
        justify-content: flex-start;
    }
}
