/* Imports */
@import "../../assets/scss/_variables.scss";

/* Menu */
.he-menu__wrap {
    grid-area: menu;
    color: $dark2;
    padding: $padding-small;
    align-items: center;
    z-index: 99999;
}

@media screen and (min-width: $large-up) {
    .he-menu__wrap {
        justify-self: end;
    }
}

.he-menu {
    display: none;
    grid-auto-flow: row;
    grid-gap: $padding-tiny;

    &--active {
        display: grid;
    }
}

@media screen and (min-width: $medium-up) {
    .he-menu {
        display: grid;
        grid-auto-flow: column;
        grid-gap: $padding-small;
    }
}

.he-menu__item {
    display: flex;
    cursor: pointer;
    margin: 0;
    flex: 1 1 auto;
    padding: $padding-tiny $padding-medium;
    color: $body-colour;
    display: flex;
    align-items: center;
    border-radius: $radius;
    justify-content: space-around;
    font-size: 1.2em;

    &:hover {
        transition: all 0.5s ease;
        background: $hover;
    }

    &--active {
        color: $light1;
        background: $primary;

        &:hover {
            background: lighten($primary, 5%);
        }

        svg {
            fill: $light1;
        }
    }
}

.he-menu__icon {
    min-width: 1rem;
    height: 30px;
    display: flex;
    margin: $margin-small;
}

.he-menu__icon svg {
    max-width: 1.5em;
    width: 100%;
}
