// App.scss
/* Imports */
@import "./assets/scss/variables";
// Layout

.ap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header""worknav""site";
}

.si {
  grid-area: site;
  grid-column: span 3;
  background: $site-background;
  display: flex;
  flex-direction: column;
  background: $site-background;
  justify-content: center;
  align-items: center;
}

.ma {
  max-width: 80vw;
  min-height: 100vh;
  margin: 3rem;
  display: flex;

  article {
    max-width: 600px;
  }
}

.ma_view {
  padding: $padding-tiny;
  margin: $margin-tiny;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr;
  // grid-template-rows: auto 1fr;
  // grid-gap: $padding-tiny;
  min-height: 100vh;
}

// @media screen and (min-width: $small-up) {
//     .ma_view {
//         padding: $padding-large;
//         margin: $margin-large;
//     }
// }
