// Imports
@import "./assets/scss/variables";

// Layout for all pages
.main {
    background: $site-background;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    @media screen and (min-width: $medium-up) {
        grid-gap: $small;
        margin: $small;
        grid-template-columns: repeat(12, 1fr);
    }

    @media screen and (min-width: $large-up) {
        grid-template-columns: repeat(16, 1fr);
    }

    &--home {
        grid-template-rows: 6rem min-content auto;
    }

    &--clients,
    &--skills {
        grid-template-rows: 2rem max-content max-content 4rem;
    }

    &--loaded {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 6rem max-content max-content auto;
        
        @media screen and (min-width: $medium-up) {
            grid-template-columns: repeat(12, 1fr);
        }
        
        @media screen and (min-width: $large-up) {
            grid-template-columns: repeat(16, 1fr);
        }
    }
}
