/* autoprefixer: off */

@import "./assets/scss/index.scss";

/* Styles SCSS */

.view-item {
    padding: $padding-tiny;
    margin: $margin-tiny;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: $padding-tiny;
    min-height: 100vh;
}

@media screen and (min-width: $small-up) {
    .view-item {
        padding: $padding-large;
        margin: $margin-large;
    }
}
