/* Styles SCSS */

@import "./app/shared/scss/index";

/* View Item */

.view-item {
    padding: $padding-large;
    margin: $margin-large;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: $padding-large;
}
