/* autoprefixer: off */

@import "./app/shared/scss/index";

/* Styles SCSS */

.view-item {
    padding: $padding-large;
    margin: $margin-large;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: $padding-tiny;
    min-height: 100vh;
}
