<main id="columbus" class="main">
    <article class="main__item main__item--card">
        <div class="main__text">
            <h3>Skills used</h3>
            <ul class="skills">
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">HTML, SASS & Javascript</li>
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">Front end dev of quote process</li>
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">UI design</li>
            </ul>
        </div>
        <div class="main__img">
            <figure>
                <img width="1000px" src="./img/portfolio/col/col-home.jpg" alt="Columbus UK homepage">
                <figcaption>A screenshot of Columbus UK</figcaption>
            </figure>
        </div>
    </article>
    <article class="main__item ">
        <a href="#about" class="title">
            <h3 id="about">About</h3>
        </a>
        <hr>
        <p><a href="http://columbusdirect.com" data-title="Click here to veiw the live website">Columbus Direct</a> is one of the UK's largest insurance providers. They recently embarked on a full rebrand including making both the brochureware and purchase process responsive from end to end.</p>
    </article>
    <article class="main__item main__item--wide">
        <a href="#design" class="title">
            <h3 id="design">Design</h3>
        </a>
        <hr>
        <p>I worked with the designers from the agency <a href="http://www.designate.com" data-title="Click here to veiw Designate's website">Designate</a> and the backend developers in the Collinson group to build the front end of the site, and to ensure that the design was implemented consistently throughout.</p>
    </article>
    <article class="main__item main__item--card">
        <div class="main__text">
            <a href="#wireframes" class="title">
                <h3 id="wireframes">
                <span>Wireframes and UX</span>
            </h3>
            </a>
            <p>As part of moving from a single product company selling only travel insurance to a multi line one selling home insurance, life insurance and income protection I redesigned the homepage to accommodate this new focus.</p>
        </div>
        <div class="main__img">
            <figure>
                <img width="1000px" src="/img/portfolio/col/wireframe.jpg" alt="A screen shot of a wireframe">
                <figcaption>A screenshot of Columbus UK</figcaption>
            </figure>
        </div>
    </article>
    <article class="main__item">
        <a href="#tweet" class="title">
            <h3 id="tweet">
            <span>A friendly tweet!</span>
        </h3>
        </a>
        <p>Finally, here's a tweet from a user who liked using the site, although I thought the fact that she had to emphasise 'really' was pretty funny!</p>
    </article>
    <article class="main__item main__item--wide">
        <figure class="wrap-tweet">
            <blockquote class="twitter-tweet" lang="en">
                <p>Thanks to <a href="https://twitter.com/columbus_direct">@columbus_direct</a> for having the best mobile site I&#39;ve ever used (really) and making sure I get insurance for this trip!</p>&mdash; MelanieMcKay (@MelanieMcKay) <a href="https://twitter.com/MelanieMcKay/status/521913148073582592">October 14, 2014</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <figcaption>The kind words of a happy user.</figcaption>
        </figure>
    </article>
</main>