<main id="hackett" class="main">
    <article class="main__item main__item--card">
        <div class="main__text">
            <h3>Skills used</h3>
            <ul class="skills">
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">HTML, SASS & Javascript</li>
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">UI design</li>
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">Angular 1.5</li>
            </ul>
        </div>
        <div class="main__img">
            <figure>
                <img width="1000px" src="./img/portfolio/hackett/hackett.jpg" alt="Columbus UK homepage">
                <figcaption>A screenshot of Hackett</figcaption>
            </figure>
        </div>
    </article>
    <article class="main__item ">
        <a href="#about" class="title">
            <h3 id="about">About</h3>
        </a>
        <hr>
        <p><a href="https://www.hackett.com/gb/" data-title="Click here to veiw the live website">Hackett</a> is an iconic British menswear company. We were briefed with creating an in store loyalty application that tracks user purchases and preferences. The app is used by staff on both iPads and iPhones.</p>
    </article>
    <article class="main__item main__item--wide">
        <a href="#design" class="title">
            <h3 id="design">Build</h3>
        </a>
        <hr>
        <p>I worked with with backend developers to build the UI for the web application using both Angular 1.5 and Foundation for apps.</p>
    </article>
</main>