<main id="home" class="main">
  <div class="img-wrapper">
    <span class="head">
      <a href="#/columbus"><h2><span>Case study /</span> Columbus Direct</h2>
      </a>
      <p class="brag">80k+ monthly hits - <a href="http://www.columbusdirect.com" data-title="Click here to view the live website">View website</a></p>
    </span>
    <span class="main">
      <p>Columbus Direct is one of the UK's leading insurance providers that recently embarked on a rebrand. Take a look at how I built the front end for the purchase tunnel and redesigned the UI for the homepage. <a href="#columbus" id="viewCaseStudy" class="btn" data-title="Click here to read more about this site">View case study</a></p>
    </span>
    <span class="side">
    </span>
    <span class="foot">
    </span>
  </div>
</main>