<main id="offers" class="main">
    <article class="main__item main__item--card">
        <div class="main__text">
            <h3>Skills used</h3>
            <ul class="skills">
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="">HTML, SASS & Javascript</li>
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="Icon tick">Implementation of Material design UI</li>
                <li class="skills__item"><img class="skills__icon" src="./img/icons/tick.svg" alt="Icon tick">Angular 2</li>
            </ul>
        </div>
        <div class="main__img">
            <figure>
                <img width="1000px" src="./img/portfolio/offers/offers.jpg" alt="Screen shot of Offers">
                <figcaption>A screenshot of Offers</figcaption>
            </figure>
        </div>
    </article>
    <article class="main__item ">
        <a href="#about" class="title">
            <h3 id="about">About</h3>
        </a>
        <hr>
        <p><a href="http://columbusdirect.com" data-title="Click here to veiw the live website">Collinson group</a> is one of the UK's largest insurance providers. They built an internal offers application in Angular 2</p>
    </article>
    <article class="main__item main__item--wide">
        <a href="#design" class="title">
            <h3 id="design">UX & Build</h3>
        </a>
        <hr>
        <p>I worked with backend developers in Singapore to implement Material design and build the UI in Angular 2. The application is responsive.</p>
    </article>
</main>