/* Imports */

@import "../../shared/scss/variables";

/* SCSS */

:host {
    display: flex;
    flex-direction: column;
}

.skills-title-bar {
    margin-bottom: 2em;
    background: $light1;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $padding-medium;
    color: #999;
    background: $light3;
    li {
        font-size: 1rem;
        padding: 1em;
        background: #fff;
    }
}
