/* Imports */

@import "../../shared/scss/variables";

/* SCSS */

:host {
    display: flex;
    flex-direction: column;
}

.skills-title-bar {
    margin-bottom: 2em;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $padding-medium;
    color: $body-colour;
    li {
        font-size: 1rem;
        padding: $padding-small $padding-medium;
        background: #fff;
    }
}
