:host {
    display: flex;
    flex-direction: column;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    color: #999;
    margin-top: 2rem;
    width: 100%;
    li {
        font-size: 1rem;
        padding: 1em;
        background: #fff;
        flex: 1 1 40%;
        margin: .5rem;
    }
}
