// Import
@import "../../assets/scss/variables";

// layout
.main.main--loading {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .glide {
        display: none;
    }
}

.glide {
    grid-column: 1 / 7;
    max-width: 100%;
    min-height: 50vh;
    grid-row: 3 / 3;
    padding: 1rem;
    
    @media screen and (min-width: $medium-up) {
        padding: 0rem;
        max-width: 100%;
        grid-column: 2 / 12;
    }
    
    @media screen and (min-width: $large-up) {
        grid-column: 2 / 16;
        max-width: 100%;
    }
}
