// Import
@import "../../assets/scss/variables";

// layout
.ma--work {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:    ". spaceglide ."
                            ". glide ."
                            ". spaceglide2 .";
    max-width: 100vw;

    @media screen and (min-width: $large-up) {
            grid-template-rows: 1fr 5fr 1fr;
            grid-template-columns: 6rem 1fr 1rem;
    }
}

.glide {
    grid-area: glide;
    max-width: 400px;
    
    &::before {
        grid-area: spaceglide;
    }
    
    &::after {
        grid-area: spaceglide2;
    }
    
    @media screen and (min-width: $medium-up) {
        max-width: 1000px;
    }
}
