// Import
@import "../../assets/scss/variables";

// layout
.main.main--loading {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .glide {
        display: none;
    }
}

.glide {
    grid-column: 1 / 12;
    max-width: 400px;
    min-height: 50vh;
    grid-row: 3 / 3;

    @media screen and (min-width: $medium-up) {
        max-width: 700px;
        grid-column: 2 / 12;
    }
    
    @media screen and (min-width: $large-up) {
        grid-column: 2 / 16;
        max-width: 1000px;
    }
}
