// Import
@import "../../assets/scss/variables";

// layout
.ma--work {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        ". . ."
        ". glide glide"
        ". . .";

    @media screen and (min-width: $medium-up) {
        grid-template-columns: 1fr 8fr 2fr;
    }

    @media screen and (min-width: $large-up) {
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-columns: 6rem 1fr 1rem;
    }
}

.ma.ma--loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .glide {
        display: none;
    }

    &::before,
    &::after {
        content: "";
        display: table;
    }
}

.glide {
    grid-area: glide;
    max-width: 400px;
    min-height: 50vh;

    @media screen and (min-width: $medium-up) {
        max-width: 700px;
    }

    @media screen and (min-width: $large-up) {
        max-width: 1000px;
    }
}
