/* Imports */

@import "../../assets/scss/_variables.scss";

/* SCSS */
.mobile-menu-trigger {
    padding: $padding-medium;
    position: absolute;
    top: $padding-medium;
    right: $padding-medium;
    cursor: pointer;
    background: none;
    border: none;
}

@media screen and (min-width: $medium-up) {
    .mobile-menu-trigger {
        display: none;
    }
}

/* Burger */
.mobile-menu-trigger-burger,
.mobile-menu-trigger-burger:after,
.mobile-menu-trigger-burger:before {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 30px;
    background: rgba($dark1, .8);
    position: absolute;
    top: 18px;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

.mobile-menu-trigger-burger {
    left: 5px;
}

.mobile-menu-trigger-burger:before {
    top: -10px;
}

.mobile-menu-trigger-burger:after {
    top: 10px;
}

.he-menu--active + button .mobile-menu-trigger-burger {
    background-color: transparent;
}

.he-menu--active + button .mobile-menu-trigger-burger:after,
.he-menu--active + button .mobile-menu-trigger-burger:before {
    top: 0;
}

.he-menu--active + button .mobile-menu-trigger-burger:before {
    transform: rotate(45deg);
}

.he-menu--active + button .mobile-menu-trigger-burger:after {
    transform: rotate(-45deg);
}

.mobile-menu-trigger-text {
    display: none;
}
