// Imports
@import "../../assets/scss/_variables.scss";

// SCSS
.menu-trigger {
    padding: $padding-medium;
    position: absolute;
    top: $padding-medium;
    right: $padding-medium;
    cursor: pointer;
    background: none;
    border: none;

    @media screen and (min-width: $medium-up) {
        display: none;
    }

    &__text {
        display: none;
    }
}

// Burger
.menu-trigger {

    &__burger,
    &__burger:after,
    &__burger:before {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 30px;
        background: rgba($dark1, .8);
        position: absolute;
        top: 18px;
        display: block;
        content: "";
        transition: all 300ms ease-in-out;
    }

    &__burger {
        left: 5px;

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }
}

.menu-trigger__burger--active {
    background-color: transparent;

    &::after,
    &::before {
        top: 0;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
