/* Import */

@import "../../shared/scss/variables";

/* Header */

:host {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "title menu menu menu";
    grid-gap: $padding-small;
    z-index: 9999;
    position: sticky;
    top: 0;
    color: #999;
    background: $darktint1;
    padding: $padding-small;
    box-shadow: $shadow2;
}
