/* Header */

.header {
    flex: 1 1 80%;
    padding: 2rem;
    background: rgba(white, .5);
    color: #999;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    align-items: center;
}